*{
   margin: 0;
   padding: 0;
   font-family: 'Galindo', sans-serif;
   font-family: 'Inter', sans-serif;


   

}

.header{
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(172, 167, 167, 0.384),rgba(172, 167, 167, 0.384)),url(home.jpg);
background-position: center;
background-size: cover;
position: relative;
}

nav{
   display: flex;
   padding: 0.5% 6%;
   justify-content: space-between;
   align-items: center;
   
}

nav img {
  width: 98px;
left: 50px;
}
.nav-links{
   flex: 1;
   text-align: left;

}
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding-top: 500px;
   padding: 0px 25px;
   position: relative;
   
}
.nav-links ul li a{
   color: rgb(0, 0, 0);
   text-decoration: none;
   font-size: 20px;
}
.nav-links ul li::after{
   content:'';
   width: 0%;
   height: 2px;
   background: #f44336;
   display: block;
   margin: auto;
   transition: 0.5s;

}
.nav-links ul li:hover::after {

width: 100%;
}
.text-box{
   width: 50%;
   
   position: absolute;
   margin-top: 10%;
   margin-left: 15% ;
}
.text-box h1{
   font-size: 70px;
   color:rgb(0, 0, 0);
   font-family: 'Galindo', sans-serif;
   margin-bottom: 0%;

}
.text-box h2{
   font-size: 65px;
   color:rgb(0, 0, 0);
   font-family: 'Galindo', sans-serif;
   margin-top: 0%;
   margin-bottom: 0%;
}
.text-box h3{
   font-size: 75px;
   color:rgb(0, 0, 0);
   font-family: 'Londrina Shadow', sans-serif;
   margin-top: 0%;
}
.text-box p{
   margin: 10px;
   color:rgb(255, 255, 255);
   font-family: 'Arbutus', serif;
}
 .hero-btn{
   display: inline-block;
   text-decoration: none;
   color: rgb(0, 0, 0);
   border: 1px solid #fff;
   padding: 7px 14px;
   font-size: 17px;
   background-color: transparent;
   position: relative;
   cursor: pointer;
   font-family: 'Arbutus', serif;
   margin-left: 9%;
   margin-top: 3%;

 }
 .hero-btn:hover{
   border: 1px solid #B5936F;
   background:#B5936F;
   transition: 1s;
 }
 .social-icon{
   margin-top: 50px;
   float: left;

   color:rgb(0, 0, 0)
   
 
}
@media( max-width: 700px){
   .text-box h1{
   font-size: 1px;
 }
 .nav-links ul li{
    display: block;
   }
   
}
